//***************************
//        HOME PAGE
//***************************

.home{
	display: flex;
	flex-wrap: wrap;
	justify-content: sapce-around;
	align-items: center;
	//align-contents
}


.homeCard{
	padding-top: 10vh;
	width: 100vw;
	max-width:100%;
}

//===================
//   LANDING CARD
//===================
#landing
{
	background-color: #ffd0a6 //#ffeaa7
}

//===================
//   MISSION CARD
//===================
#mission
{
	background-color: white;//#ffd7b3;
}

//===================
//   HOW TO CARD
//===================
#howTo
{
	background-color: white;//#ffdcbd;	
}

#test{
	background-color: white;
}