@import "home.scss";
@import "footer.scss";
@import "portal.scss";
@import "typography.scss";
@import "components.scss";
@import "login.scss";

*{
      margin: 0;
      padding: 0;
}

#container{ margin-top: 5rem; }

body{ 
	font-size: 16px; 
}

.table{	
	display: flex;
	align-items: center
}

.cell{
	display: table-cell;
	vertical-align: middle;
}

#vaMiddle{ vertical-align: middle; }

#white{ background-color: white }

#yellow{ background-color: yellow }

#padding{
	padding-left: 30px;
	padding-right: 30px;
}