//TYPOGRAPHY

h1{
	font-family: 'Helvetica';
	font-size: 10em;
	color: #fabb0c;
	border-color: black;
	//text-shadow: -.03em 0 white, 0 .03em white, .03em 0 white, 0 -.03em white;
	text-shadow: -6px 6px white;
}

h3{
	font-family: 'Helvetica';
	font-size: 5em;
	color: white;
}

a{
    text-decoration: none;
    color: inherit;
}
