//TYPOGRAPHY

.big.text{
	font-family: 'Didact Gothic';
	color: white;
	font-size: 20px;
	line-height: 1em;
	//text-align: center;
}
@media(min-width:500px){
.big.text{
	font-size: 60px;	
	//text-align: left;
}}

.large.text{
	font-family: 'Didact Gothic';
	font-size: 60px;
	color: #A0522D;
	//text-align: center;
}
@media(min-width:400px){
.large.text{
	font-size: 100px;
	//text-align: center;	
}}
@media(min-width:500px){
.large.text{
	font-size: 150px;
	line-height: 1em;
	//text-align: left;
}}

.headerTitle{
	color: white;
	font-family: 'Didact Gothic';
	font-size: 22px;
}
h1{
	//font-family: 'Helvetica';
	 //#fabb0c;
	//flex-grow: 10;
	//text-shadow: -.03em 0 white, 0 .03em white, .03em 0 white, 0 -.03em white;
	//text-shadow: -6px 6px white;
}

h2{
	//font-family: 'Helvetica';
	color: #A0522D; 
	font-size: 3em;
}

h3{
	//font-family: 'Helvetica';

	//flex-grow: 1;
}

a{
    text-decoration: none;
    color: inherit;
}
